@charset "UTF-8";
/*搜索*/
#search{
    width: 100%;
    height: 1.5rem;
    background: #f1f1f1;
    position: relative;
}
#search input{
    display: block;
    float: left;
    outline: none;
    width: 79%;
    padding: 0 5%;
    height: 0.9rem;
    margin-top: 0.3rem;
    background: #fff;
    border: 1px solid #ecedee;
    border-radius: 1rem;
    color: #9c9c9c;
    font-size: 0.36rem;
}
#search img.search-submit{
    float: right;
    width: 0.6rem;
    margin-top: 0.5rem;
}
#search .hotword{
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    height: 16rem;
    background: #fff;
    display: none;
    z-index: 999;
}
#search .hotword .hw-title{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #9c9c9c;
    border-bottom: 1px solid #ecedee;
}
#search .hotword .right img{
    width: 0.45rem;
    margin-top: -0.07rem;
}
#search .hotword .hw-content{
    font-size: 0;
}
#search .hotword .hw-content a{
    display: inline-block;
    padding: 0.2rem;
    margin-top: 0.4rem;
    border: 1px solid #9c9c9c;
    color: #9c9c9c;
    font-size: 0.36rem;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
}
#search .hotword .hw-content a.active{
    border: 1px solid #e53053;
    color: #e53053;
}
#search .hotword .hw-goback{
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ecedee;
    font-size: 0.4rem;
    text-align: center;
    color: #9c9c9c;
    margin: 1rem 0;
}
#search .hotword .hw-goback img{
    width: 0.6rem;
    margin-top: -0.15rem;
    margin-right: 0.2rem;
}
#menutitle{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.44rem;
    color: #050505;
}
#menutitle.bottomborder{
    border-bottom: 1px solid #ecedee;
}
#menutitle .right{
    color: #999999;
    font-size: 0.34rem;
}
#menutitle .right span{
    margin: 0 0.2rem;
}
#menutitle .right span.blue{
    color: #2abec6;
}
#menutitle .right span.pink{
    color: #e53053;
}
 #menutitle .right span.green{
     color: #a3c655;
 }
#zxktshopnav{
    width: 100%;
    height: 1.1rem;
    border-bottom: 1px solid #ecedee;
}
#zxktshopnav li{
    height: 1.1rem;
    line-height: 1.1rem;
    float: left;
    font-size: 0.44rem;
    color: #666666;
    text-align: center;
}
#zxktshopnav li.blue{
    width: 33.33%;
}
#zxktshopnav li.blue.active{
    border-bottom: 1px solid #33C0C7;
}
#zxktshopnav li.pink{
    width: 50%;
}
#zxktshopnav li.pink.active{
    border-bottom: 1px solid #e53053;
}
#zxktshopnav li.green{
    width: 33.33%;
}
#zxktshopnav li.green.active{
    border-bottom: 1px solid #a3c655;
}
.videolist{
    width: 100%;
}
.videolist li{
    width: 95%;
    height: 1.63rem;
    padding: 3% 2.5%;
    border-bottom: 1px solid #ecedee;
}
.videolist li .vl-img{
    margin-right: 0.4rem;
}
.videolist li .vl-img img{
    width: 1.63rem;
    height: 1.63rem;
}
.videolist li .vl-content{
    width: 6.3rem;
}
.videolist li .vl-content .vl-c-name{
    color: #666666;
    font-size: 0.38rem;
    line-height: 0.6rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videolist li .vl-content .vl-c-subject{
    color: #9c9c9c;
    font-size: 0.3rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videolist li .vl-content .vl-c-mr{
    margin-right: 0.4rem;
}
.videolist li .vl-content .vl-c-time{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #9c9c9c;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videolist li .vl-content .vl-c-time .vl-c-pink{
    color: #e53053;
}
.videolist li .vl-content .vl-c-time .vl-c-green{
    color: #a3c655;
}
.videolist li .vl-content .vl-c-time .vl-c-blue{
    color: #2abec6;
}
.videolist li .vl-content .vl-c-time img{
    width: 0.4rem;
    margin-right: 0.1rem;
    margin-top: -0.05rem;
}
.videolist li .vl-look a{
    margin-top: 0.4rem;
    display: block;
    width: 1.75rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.3rem;
    border-radius: 0.5rem;
}
.videolist li .vl-look a.green-button-fdsy{
    line-height: 0.3rem;
    margin-top: 0.2rem;
    display: block;
    width: 1.6rem;
    height: 1.4rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #a3c655;
    font-size: 0;
    color: #a3c655;
}
.videolist li .vl-look a.green-button-fdsy p{
    width: 100%;
    text-align: center;
    margin-bottom: 0.1rem;
    font-size: 0.4rem;
    margin-top: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.4rem;
    line-height: 0.4rem;
}
.videolist li .vl-look a.green-button-fdsy span{
    font-size: 0.28rem;
}
.videolist li .vl-look .vl-look-text{
    color: #9c9c9c;
    font-size: 0.32rem;
    width: 100%;
    text-align: center;
}
.videolist li .vl-look .vl-look-text-blue{
    color: #2abec6;
}
.videolist li .vl-look a.blue{
    color: #2abec6;
    border: 1px solid #2abec6;
}
.videolist li .vl-look a.gray{
    color: #9c9c9c;
    border: 1px solid #9c9c9c;
}
.videolist li .vl-look a.pink{
    color: #e53053;
    border: 1px solid #e53053;
}
.videolist li .vl-look a.orange{
    color: #f2901e;
    border: 1px solid #f2901e;
}
.videolist li .vl-look a.purple{
    color: #ae5da1;
    border: 1px solid #ae5da1;
}
.videolist li .vl-look a.pink{
    color: #e53053;
    border: 1px solid #e53053;
}
.videolist li .vl-look a.green{
    color: #a3c655;
    border: 1px solid #a3c655;
}
.mf-nametitle{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #050505;
}
.mf-nametitle.bor{
    border-top: 0.2rem solid #F5F5F5;
}
.mf-nametitle .right{
    font-size: 0;
}
.mf-nametitle .right a{
    font-size: 0.38rem;
    color: #666;
}
.mf-nametitle .right a img{
    width: 0.2rem;
    margin-left: 0.3rem;
    margin-top: -0.1rem;
}
.mf-labelbutton{
    width: 100%;
    padding: 0.3rem 0;
    background: #fff;
    font-size: 0;
}
.mf-labelbutton a{
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid #9c9c9c;
    color: #9c9c9c;
    font-size: 0.36rem;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
}
.mf-batchchange{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.36rem;
    color: #666666;
}
.mf-batchchange img{
    width: 0.4rem;
    margin-top: -0.1rem;
    margin-left: 0.2rem;
}
#rankmenunav{
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    font-size: 0;
}
#rankmenunav.white{
    background: #fff;
}
#rankmenunav a{
    display: inline-block;
    padding: 0.25rem 0.2rem;
    font-size: 0.32rem;
    color: #9c9c9c;
    border-width: 1px;
    border-style: solid;
    border-color: #ecedee;
    border-radius:  0.5rem;
    margin: 0.4rem 0;
    margin-right: 0.3rem;
}
#rankmenunav a:last-child{
    margin-right: 0;
}
#rankmenunav a.active{
    color: #ae5da1;
    border: 1px solid #ae5da1;
}
#rankmenunav a.blue.active{
    color: #2abec6;
    border: 1px solid #2abec6;
}
#rankmenunav a.smalt.active{
    color: #3482c4;
    border: 1px solid #3482c4;
}
#rankmenunav a.green.active{
    color: #a3c655;
    border: 1px solid #a3c655;
}
#rankmenunav a.orange.active{
    color: #ffcd04;
    border: 1px solid #ffcd04;
}
#rankmenunav a.pink.active{
    color: #e53053;
    border: 1px solid #e53053;
}
#rankmenunav .right{
    font-size: 0.34rem;
    color: #999999;
    margin-top: 0.7rem;
}
#rankmenunav .right span.green{
    color: #a3c655;
    margin: 0 0.05rem;
}
#rankmenunav .right span.orange{
    color: #ffcd04;
    margin: 0 0.05rem;
}
.notmore{
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: 0.4rem;
    color: #9c9c9c;
}
#rankmenunav .triangle {
    display: inline-block;
    width: 0.4rem;
    height: 0.3rem;
    font-size: 0;
    position: relative;
}
#rankmenunav .triangle .top{
    display: inline-block;
    border: 0.18rem solid transparent;
    border-bottom: 0.18rem solid #c0c0c0;
    margin-bottom: 0.1rem;
    position: absolute;
    top: -0.22rem;
    left: 0.1rem;
}
#rankmenunav a.blue .triangle .top.active{
    border-bottom: 0.18rem solid #5de1ef;
}
#rankmenunav a.green .triangle .top.active{
    border-bottom: 0.18rem solid #a3c655;
}
#rankmenunav a.pink .triangle .top.active{
    border-bottom: 0.18rem solid #e53053;
}
#rankmenunav a.smalt .triangle .top.active{
    border-bottom: 0.18rem solid #3482c4;
}
#rankmenunav a.orange .triangle .top.active{
    border-bottom: 0.18rem solid #ffcd04;
}
#rankmenunav a.blue .triangle .bottom.active{
    border-top: 0.18rem solid #5de1ef;
}
#rankmenunav a.green .triangle .bottom.active{
    border-top: 0.18rem solid #a3c655;
}
#rankmenunav a.orange .triangle .bottom.active{
    border-top: 0.18rem solid #ffcd04;
}
#rankmenunav a.smalt .triangle .bottom.active{
    border-top: 0.18rem solid #3482c4;
}
#rankmenunav a.pink .triangle .bottom.active{
    border-top: 0.18rem solid #e53053;
}
#rankmenunav .triangle .bottom{
    display: inline-block;
    border: 0.18rem solid transparent;
    border-top: 0.18rem solid #c0c0c0;
    position: absolute;
    bottom: -0.25rem;
    left: 0.1rem;
}
#makeclass{
    width: 100%;
}
#makeclass .mc-title{
    width: 100%;
    color: #9c9c9c;
    font-size: 0.36rem;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    text-align: center;
}
#makeclass .mc-num{
    font-size: 0.3rem;
    color: #9c9c9c;
    text-align: center;
    margin-bottom: 0.4rem;
}
#makeclass .mc-num span{
    font-size: 0.84rem;
    color: #505050;
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
}
#makeclass .mc-num span.smalt{
    color: #3482c4;
}
#makeclass .mc-menu-nav{
    width: 100%;
    position: relative;
    font-size: 0;
    border-bottom: 1px solid #ecedee;
    height: 1.5rem;
}
#makeclass .mc-menu-nav a{
    display: block;
    width: 50%;
    height: 1.5rem;
    float: left;
}
#makeclass .mc-menu-nav.mc-menu-nav-four a{
    width: 25%;
}
#makeclass .mc-menu-nav a.active{
    border-bottom: 1px solid #000;
}
#makeclass .mc-menu-nav a.green.active{
    border-bottom: 1px solid #a6c75c;
}
#makeclass .mc-menu-nav a.smalt.active{
    border-bottom: 1px solid #3482c4;
}
#makeclass .mc-menu-nav a.orange.active{
    border-bottom: 1px solid #ffcd04;
}
#makeclass .mc-menu-nav .bor{
    width: 1px;
    height: 0.4rem;
    background: #e0e0e0;
    position: absolute;
    top: 0;
    left: 50%;
}
#makeclass .mc-menu-nav .bor.one{
    left: 25%;
}
#makeclass .mc-menu-nav .bor.two{
    left: 75%;
}
#makeclass .mc-menu-nav a p{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #666;
    margin-bottom: 0.3rem;
}
#makeclass .mc-menu-nav.mt50{
    margin-top: 0.5rem;
}
#makeclass .mc-menu-nav a p.mc-m-num{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #9c9c9c;
}
/*错卷答题*/
#errorsubjectlist{
    width: 100%;
}
#errorsubjectlist{
    width: 100%;
}
#errorsubjectlist li{
    width: 100%;
    background: #fff;
    border-top: 0.2rem solid #f5f5f5;
    padding: 0.4rem 0;
}
#errorsubjectlist li .left{
    width: 80%;
}
#errorsubjectlist li .right{
    width: 20%;
}
#errorsubjectlist li .left p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0;
}
#errorsubjectlist li .ebl-name{
    width: 100%;
    font-size: 0;
    margin-bottom: 0.25rem;
}
#errorsubjectlist li .ebl-name img{
    width: 0.4rem;
    margin-right: 0.4rem;
    margin-top: -0.25rem;
}
#errorsubjectlist li .ebl-name span{
    font-size: 0.38rem;
    color: #666666;
}
#errorsubjectlist li p.ebl-subject{
    font-size: 0.34rem;
    color: #9c9c9c;
    margin-bottom: 0.4rem;
}
#errorsubjectlist li .ebl-content span{
    display: inline-block;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-right: 0.2rem;
    margin-right: 0.2rem;
    border-right: 1px solid #9c9c9c;
    font-size: 0.36rem;
    color: #9c9c9c;
}
#errorsubjectlist li .ebl-content a{
    font-size: 0.36rem;
    color: #666;
}
#piewidthlighthouse{
    width: 2rem;
}
#errorsubjectlist .pie, #pie2, #pie3, #pie4, #pie5, #pie6, #pie7, #pie8 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
#errorsubjectlist .pie svg, #pie2 svg, #pie3 svg, #pie4 svg, #pie5 svg, #pie6 svg, #pie7 svg, #pie8 svg {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    overflow: visible;
}
#errorsubjectlist .pie .percentage, #pie2 .percentage, #pie3 .percentage, #pie4 .percentage, #pie5 .percentage, #pie6 .percentage, #pie7 .percentage, #pie8 .percentage {
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 50%;
    font-family: Helvetica;
    font-size: 0.5rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#errorsubjectlist .pie .percentagetext{
    width: 100%;
    text-align: center;
    position: absolute;
    opacity: 1;
    top: 65%;
    left: 50%;
    font-size: 0.3rem;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}
#errorsubjectlist .rendered.pie, .rendered#pie2, .rendered#pie3, .rendered#pie4, .rendered#pie5, .rendered#pie6, .rendered#pie7, .rendered#pie8 {
    background: none;
}
#errorsubjectlist .rendered.pie .percentage, .rendered#pie2 .percentage, .rendered#pie3 .percentage, .rendered#pie4 .percentage, .rendered#pie5 .percentage, .rendered#pie6 .percentage, .rendered#pie7 .percentage, .rendered#pie8 .percentage {
    opacity: 1;
}

#errorsubjectlist .pie {
    box-shadow: none;
    background: #1ABC9C;
}
#errorsubjectlist .pie circle:nth-child(1) {
    fill: #9c9c9c;
}
#errorsubjectlist .pie circle:nth-child(2) {
    fill: #9c9c9c;
    stroke: #e53053;
}
#errorsubjectlist .pie .percentage {
    color: white;
}

