@charset "utf-8";
#videoplay-container{
    width: 100%;
    height: 6rem;
    background: #000;
    border-top: 1px solid #393A3F;
}
#videoplay-container .play{
    display: block;
    width: 1.61rem;
    margin: 0 auto;
    margin-top: 2.2rem;
}