<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
        ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="form" class="form-horizontal" action="" method="post" >



                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                            课程及章节 </label>
                                        <div class="col-sm-9">
                                  <select name="course" id="province">
                                    <option value="" >课程</option>
                                    <volist name="province" id="vo">
                                        <option  value="{$vo.id}" <if condition="$vo.id eq $quest['kid']"> selected="selected" </if>>{$vo.name}</option>
                                    </volist>
                                </select>
                            <select name="chapter" id="city">
                                <option value="">章</option>
                            </select>
                            <select name="point" id="town">
                                <option value="">节</option>
                            </select>
                                                      
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-8">
                                            知识点: </label>
                                        <div class="col-sm-9">
                                            <input type="text" name="knowledge" id="field_1" placeholder="知识点名称"
                                                   class="col-xs-10 col-sm-5" value="{$member['name']}">
                                            <span class="help-inline col-xs-12 col-sm-7">
                                                <span class="middle">知识点(多个知识点请用中文状态下逗号隔开)</span>
                                            </span>
                                        </div>
                                    </div>
                          
                            <div class="space-4"></div>

                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="button" id="getsubmit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<!--<include file="Public/footerjs"/>-->
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/js/date-time/bootstrap-datepicker.js"></script>
<!--<script src="__PUBLIC__/admin/js/uploadPreview.js"></script>-->
<!--<script src="__PUBLIC__/admin/js/function.js"></script>-->
<script type="text/javascript">
 
//    jQuery(function ($) {
//                                $('#birthday').datepicker({
//                                format: 'yyyy-mm-dd',
//                                        weekStart: 1,
//                                        autoclose: true,
//                                        todayBtn: 'linked',
//                                        language: 'cn'
//                                });
//                                });
//                                $(document).ready(function() {
//
//                                var MaxInputs = 12; //maximum input boxes allowed
//                                var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
//                                var AddButton = $("#AddMoreFileBox"); //Add button ID
//
//                                var x = InputsWrapper.length; //initlal text box count
//                                var FieldCount = 1; //to keep track of text box added
//
//                                $(AddButton).click(function (e)  //on add input button click
//                                        {
//                                        if (x <= MaxInputs) //max input box allowed
//                                        {
//                                        FieldCount++; //text box added increment
//                                        //add input box
//                                        $(InputsWrapper).append('<div><div class="form-group"><label class="col-sm-1 control-label no-padding-right" for="form-field-8">知识点: </label> <div class="col-sm-9"><input type="text" name="knowledge[]" class="col-xs-10 col-sm-5" id="field_' + FieldCount + '" placeholder="知识点名称 ' + FieldCount + '"/><a href="#" class="removeclass">×</a></div></div></div>');
//                                        x++; //text box increment
//                                        }
//                                        return false;
//                                      });
//                                $("body").on("click", ".removeclass", function(e){ //user click on remove text
//                                if (x > 1) {
//                                 $(this).parent('div').prev("div").remove();
//                                 $(this).parent('div').prev("label").remove();
//                                $(this).parent('div').remove(); //remove text box
//                                x--; //decrement textbox
//                                }
//                                return false;
//                                })
//
//                                        });
                                        
        //三级联动                                
        
    
    
    function loadRegion(obj,id,type,check){
        $.ajax({
            url:"{:U('getRegion')}",
            type:'post',
            data:{'id':id,'type':type,'check':check},
            success:function(data){
                $(obj).html(data);
            }
            
        })
    }
    
    $('#province').change(function(){
        var val = $('#province option:selected').val();
        loadRegion('#city',val);
    })
    $('#city').change(function(){
        var val = $('#city option:selected').val();
        loadRegion('#town',val);
    })


</script>

<script type="text/javascript">
    //ajax表单提交数据
    setTimeout(function(){

    $("#getsubmit").click(function(){
        var cont = $("form").serialize();
        $.ajax({
            url:"{:U('update')}",
            type:'POST',
            dataType:'json',
            data:cont,
            success:function(data,status) {

                    if(data.status == 0){
                        alert('未修改内容');
                    }
                    if(data.status == 1){
                        alert('恭喜，知识点新增成功！');
                        window.location.href = "{:U('add')}";

                    }
                    if(data.status == 2){
                        alert('恭喜，知识点修改成功！');

                    }
                    if(data.status == 3){
                        alert('该章节已存在知识点，请勿重复添加');
                    }
                    if(data.status == 4){
                        alert('知识点新增失败');

                    }
                }

            });

        });
    });

</script>
</body>
</html>
