<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>题霸随手题库</title>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="keyword" content="桑磊法考,司法考试,考试,司法,律师">
    <!-- 公用的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/public.css"/>
    <!-- 本页面的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/random-answer.css"/>
    <script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
</head>
<body>
    <!--主导航-->
    <include file="Public/nav" />
    <!--题库摘要-->
    <div id="random-title">
        <div class="wrap">
            <p class="name">题霸随手题库</p>
            <p class="text">
                <span>3科综合模拟试卷</span>
                <span>12门法考题型</span>
                <span>随机/自定义抽选题目</span>
            </p>
        </div>
    </div>
    <block name='content'></block>
    <!--底部-->
    <include file="Public/foot" />
</body>
</html>
    
 
