<div id="shopnav">
    <div class="wrap">
        <ul>
            <li>
                <img src="__PUBLIC__/Wx/images/mark/shopnav/1.png" alt=""/>
                <p>历史打榜</p>
            </li>
            <li>
                <img src="__PUBLIC__/Wx/images/mark/shopnav/2.png" alt=""/>
                <p style="margin-top: 0.04rem;">查看错误</p>
            </li>
            <li onclick="shopNav('dzkt')">
                <img src="__PUBLIC__/Wx/images/mark/shopnav/3.png" alt=""/>
                <p>订制课堂</p>
            </li>
            <li onclick="shopNav('cydb')">
                <img src="__PUBLIC__/Wx/images/mark/shopnav/4.png" alt=""/>
                <p class="timeTextBox" style="margin-top: -0.06rem;">参与打榜</p>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
</div>