 <div id="mainnav">
        <div class="wrap">
            <ul class="left">
                <a href="{:U('index/index')}" target="_blank"><li>首页</li></a>
                <a href="{:U('index/index')}" target="_blank"><li>桑磊题库</li></a>
                <a href="{:U('Video/index')}" target="_blank"><li>法考课堂</li></a>
                <a href="#" target="_blank"><li>赛事活动</li></a>
                <a href="{:U('Band/index')}" target="_blank"><li>题霸打榜</li></a>
                <a href="{:U('Online/index')}" target="_blank"><li>在线交流</li></a>
            </ul>
            <a href="#" class="right account">
                <img src="__PUBLIC__/home/images/nav/user-gray.png" alt=""/>
                会员账户&gt;
            </a>
        </div>
    </div>