<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<link href="__PUBLIC__/admin/css/common.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/index.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/admin/js/imgUp.js"></script>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" id="form" method="post" action="{:U('update')}">
                            <input type="hidden" name="id" value="{$question.id}" id="id"/>
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    故事</label>
                                <div class="col-sm-9">
                                    <textarea name="story" id="stoty" placeholder="故事"
                                              class="col-xs-10 col-sm-5"
                                              rows="10">{$question['story']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">故事不能为空</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    题数 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="contentcount" id="contentcount" placeholder="题数"
                                           class="col-xs-10 col-sm-5" value="{$question['contentcount']}" readonly="readonly">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">题数不能为空。</span>
                                    </span>
                                </div>
                            </div>
                              <div class="space-4"></div>
                           <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    所属知识点</label>
                                <div class="col-sm-9">
                                    <textarea name="knowledge" id="knowledge" placeholder="知识点（多个知识点请用中文状态下的逗号隔开）"
                                              class="col-xs-10 col-sm-5"
                                              rows="5">{$did}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">知识点（多个知识点请用中文状态下的逗号隔开）</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    题目类型 </label>
                                <div class="col-sm-9">

                                模拟题&nbsp;&nbsp;<input type="radio" name="model[]" id="model" value="1" <if condition="1 eq $question['model']"> checked="checked" </if>/>
                                    &nbsp;&nbsp;真题&nbsp;&nbsp;<input type="radio" name="model[]" id="model" value="2" <if condition="2 eq $question['model']"> checked="checked" </if> />
<!--                                <select name="model1" id="model">

                                    <option value="" >类型</option>
                                        <option  value="1" <if condition="1 eq $question['model']"> selected="selected" </if>>模拟题</option>
                                        <option  value="2" <if condition="2 eq $question['model']"> selected="selected" </if>>真题</option>
                                </select>-->
                                </div>
                            </div>
                             <div class="space-4"></div>
                          <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    试题时间 </label>
                                       
                                           <div class="col-sm-9">
                                        <input  id="birthday" placeholder="选择时间" name="questiontime" type="text" data-date-format="yyyy-mm-dd" 
                                                value="<if condition="
                                                $question['questiontime'] neq '' ">{$question['questiontime']|date="Y-m-d ",###}</if>"
                                         />
                                        <span >
                                            <i class="ace-icon fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                            </div>
 
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    题目 </label>
                                <div class="col-sm-9">
                                    <textarea name="content1" id="title" placeholder="题目"
                                              class="col-xs-10 col-sm-5"
                                              rows="8">{$question['content']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">题目不能为空。</span>
                                    </span>
                                </div>
                            </div>
                           
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    A</label>
                                <div class="col-sm-9">
                                    <textarea name="aa1" id="description" placeholder="A选项"
                                              class="col-xs-10 col-sm-5"
                                              rows="5">{$question['aa']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">A选项不能为空</span>
                                    </span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    B</label>
                                <div class="col-sm-9">
                                    <textarea name="bb1" id="description" placeholder="B选项"
                                              class="col-xs-10 col-sm-5"
                                              rows="5">{$question['bb']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">B选项不能为空</span>
                                    </span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    C</label>
                                <div class="col-sm-9">
                                    <textarea name="cc1" id="description" placeholder="C选项"
                                              class="col-xs-10 col-sm-5"
                                              rows="5">{$question['cc']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">C选项不能为空</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                    D</label>
                                <div class="col-sm-9">
                                    <textarea name="dd1" id="description" placeholder="D选项"
                                              class="col-xs-10 col-sm-5"
                                              rows="5">{$question['dd']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">D选项不能为空</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                              <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    单选/多选 </label>
                                   <div class="col-sm-9">
                               单选&nbsp;&nbsp;<input type="radio" name="multiple1" id="multiple" value="1" <if condition="1 eq $question['multiple']"> checked="checked" </if> />
                              &nbsp;&nbsp;多选&nbsp;&nbsp;<input type="radio" name="multiple1" id="multiple" value="2" <if condition="2 eq $question['multiple']"> checked="checked" </if> />
<!--                             <select name="multiple1" class="col-xs-10 col-sm-5">
                                    <option value="1" <if condition="1 eq $question['multiple']"> selected="selected"</if>>--单选--</option>
                                    <option value="2" <if condition="2 eq $question['multiple']"> selected="selected"</if>>--多选--</option>
                                </select>-->
                                   </div>
                              </div>
                              <div class="space-4"></div>
                              <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    答案： </label>
                                   <div class="col-sm-9">
                             <label>A<input name="answer1[]" type="checkbox" value="aa" id="aa"<foreach name='str' item='v'><if condition="$question['aa'] eq $v"> checked="checked"</if></foreach>  style='margin-left: 10px;'/></label> 
                            <label style='margin-left: 10px;'>B <input name="answer1[]" type="checkbox" value="bb" id="bb"<foreach name='str' item='v'><if condition="$question['bb'] eq $v"> checked="checked"</if></foreach> style='margin-left: 10px;'/></label> 
                            <label style='margin-left: 10px;'>C <input name="answer1[]" type="checkbox" value="cc" id="cc"<foreach name='str' item='v'><if condition="$question['cc'] eq $v"> checked="checked"</if></foreach> style='margin-left: 10px;'/></label> 
                            <label style='margin-left: 10px;'>D<input name="answer1[]" type="checkbox" value="dd" id="dd"<foreach name='str' item='v'><if condition="$question['dd'] eq $v"> checked="checked"</if></foreach> style='margin-left: 10px;'/></label>
                                  </div>
                              </div>
                              
                              <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    关键词 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="keywords1" id="keywords" placeholder="关键词"
                                           class="col-xs-10 col-sm-5" value="{$question['keywords']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">关键词。</span>
                                    </span>
                                </div>
                            </div>
                              <div class="space-4"></div>
                              <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    题目难度 </label>
                                <div class="col-sm-9">
                              易&nbsp;&nbsp;<input type="radio" name="difficulty1" id="difficulty" value="1" <if condition="1 eq $question['difficulty']"> checked="checked" </if>/>
                                    &nbsp;&nbsp;中&nbsp;&nbsp;<input type="radio" name="difficulty1" id="difficulty" value="2" <if condition="2 eq $question['difficulty']"> checked="checked" </if> />
                                    &nbsp;&nbsp;难&nbsp;&nbsp;<input type="radio" name="difficulty1" id="difficulty" value="3" <if condition="3 eq $question['difficulty']"> checked="checked" </if> />
<!--                                <select name="difficulty1" id="province">
                                    <option value="" >难度</option>
                                     <option  value="易" <if condition="易 eq $question['difficulty']"> selected="selected" </if>>易</option>
                                     <option  value="中" <if condition="中 eq $question['difficulty']"> selected="selected" </if>>中</option>
                                     <option  value="难" <if condition="难 eq $question['difficulty']"> selected="selected" </if>>难</option>
                                </select>-->
                                </div> 
                              </div>
                              <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                   A选项分析 </label>
                                <div class="col-sm-9">
                                   <textarea name="aexplain1" id="aexplain" placeholder="A选项分析"
                                              class="col-xs-10 col-sm-5"
                                              rows="8">{$question['aexplain']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">A选项分析。</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    B选项分析 </label>
                                <div class="col-sm-9">
                                   <textarea name="bexplain1" id="bexplain" placeholder=" B选项分析"
                                              class="col-xs-10 col-sm-5"
                                              rows="8">{$question['bexplain']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"> B选项分析。</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    C选项分析 </label>
                                <div class="col-sm-9">
                                   <textarea name="cexplain1" id="cexplain" placeholder="C选项分析"
                                              class="col-xs-10 col-sm-5"
                                              rows="8">{$question['cexplain']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">C选项分析。</span>
                                    </span>
                                </div>
                            </div>
                             <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    D选项分析 </label>
                                <div class="col-sm-9">
                                   <textarea name="dexplain1" id="dexplain" placeholder="D选项分析"
                                              class="col-xs-10 col-sm-5"
                                              rows="8">{$question['dexplain']}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">D选项分析。</span>
                                    </span>
                                </div>
                            </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                            难点解析： </label>
                                <div class="col-sm-9">
                                    <textarea name="explain1" id="content"
                                              style="width:100%;height:400px;visibility:hidden;">{$question['explain']}</textarea>
                                </div>
                            </div>
                           
 
                        
                            <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>

                            <!-- PAGE CONTENT ENDS -->


                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<script src="__PUBLIC__/admin/js/date-time/bootstrap-datepicker.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
   $(function () {
        jQuery(function ($) {
            $('#birthday').datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoclose: true,
                todayBtn: 'linked',
                language: 'cn'
            });
                 });
        });

    

        $(function () {

        $("#tabs").tabs();
       
        var editor = KindEditor.create('textarea[name="explain1"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
  
        
        $(".submit").click(function () {

                 var contentcount = $("#contentcount").val();
                 var title = $("#title").val();
                 var content = $("#content").val();
                 var knowledge = $("#knowledge").val();
                 var aa = $("#aa").val();
                 var bb = $("#bb").val();
                 var cc = $("#cc").val();
                 var dd = $("#dd").val();

            if (aa == ''||bb == ''||cc == ''||dd == '') {
                    bootbox.dialog({
                        title: '友情提示：',
                        message: "试题abcd选项必须填写。",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                }

            if (model == '') {
                    bootbox.dialog({
                        title: '友情提示：',
                        message: "试题类型需要填写。",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                }
            if (knowledge == '') {
                    bootbox.dialog({
                        title: '友情提示：',
                        message: "所属知识点需要填写。",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                }

            if (contentcount == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "试题数目必须选择。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (content == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "文章标题必须填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }

            $("#form").submit();
        });
    });
    function loadRegion(obj,id,type,check){
        $.ajax({
            url:"{:U('getRegion')}",
            type:'post',
            data:{'id':id,'type':type,'check':check},
            success:function(data){
                $(obj).html(data);
            }
            
        })
    }
    
    $('#province').change(function(){
        var val = $('#province option:selected').val();
        loadRegion('#city',val);
    })
    $('#city').change(function(){
        var val = $('#city option:selected').val();
        loadRegion('#town',val);
    })
     $('#town').change(function(){
        var val = $('#town option:selected').val();
        loadRegion('#village',val);
    })
</script>
</body>
</html>
