<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户中心-历史打榜</title>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name=”keyword” content=”桑磊法考,司法考试,考试,司法,律师“>
    <!-- 公用的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-public.css"/>
    <!-- 本页面的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-lsdb.css"/>
</head>
<body>
<div class="wrap">
    <!--侧边栏导航-->
    <div id="sidebar-nav">
        <!--头像 用户名-->
        <div class="top">
            <img src="__PUBLIC__/home/images/usercenter/logo.png" class="logo" alt=""/>
            <div class="avatar">
                <img src="__PUBLIC__/home/images/usercenter/tx.png" alt=""/>
            </div>
            <div class="name">大法官123</div>
            <div class="account">账户：[普通账户]</div>
        </div>
        <!--菜单-->
        <include file="Public/menucenter" />
        <!--二维码-->
        <div class="qrcode">
            <img src="__PUBLIC__/home/images/usercenter/qrcode.png" alt=""/>
            <p>扫描二维码登录手机端</p>
        </div>
    </div>
    <!--主导航-->
    <include file="Public/navcenter" />
    <!--基本资料   这个元素里面的东西不一样-->
    <div class="content-box">
        <!--********-->
        <div id="historylist">
            <div class="vip"><img src="__PUBLIC__/home/images/usercenter/ordinary.png" alt=""/></div>
            <!--热卷榜单-->
            <div class="ml-list-dbph">
                <!--试卷名-->
                <div class="h-list-name">
                    <div class="left">
                        <img src="__PUBLIC__/home/images/library-list/word.png" alt=""/>
                        <span>实例（案例）分析、司法文书、论述精选测试题</span>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">返回历史打榜列表</a>
                    </div>
                </div>
                <!--试卷信息-->
                <div class="h-list-title">
                    <div class="left">
                        <span class="startnum" data="3">
                        综合评星：
                        </span>
                        <span>
                            难易程度：中
                        </span>
                        <span>
                            答卷人数：26369 人
                        </span>
                        <span>
                            最快用时：01:03:25
                        </span>
                    </div>
                    <div class="right">
                        <span class="name">排名：</span>
                        <span class="top">12</span>
                        <span class="name">得分：</span>
                        <span class="num">105</span>分
                    </div>
                </div>
                <!--表头-->
                <div class="ml-list-title-3">
                    <div class="dbph-one left">选手</div>
                    <div class="dbph-two left">总分</div>
                    <div class="dbph-three left">用时</div>
                    <div class="dbph-four left">正确率</div>
                    <div class="dbph-five left">操作</div>
                </div>
                <!--追加开始-->
                <div class="dbph-big-box">
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box active">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                    <div class="dbph-box">
                        <div class="bor dbph-one left">
                            <img src="__PUBLIC__/home/images/makelist/tx.png" alt=""/>
                            只吃粑粑的
                        </div>
                        <div class="bor dbph-two left">105分</div>
                        <div class="bor dbph-three left">01:03:25</div>
                        <div class="bor dbph-four left">93.8%</div>
                        <div class="dbph-five left">
                            <a href="javascript:void(0)">（26879个）</a>
                            <a href="javascript:void(0)" data="yes" onclick="giveZz(this)">
                                <img src="__PUBLIC__/home/images/makelist/z.png" alt=""/>
                                点赞
                            </a>
                            <a href="javascript:void(0)"><img src="__PUBLIC__/home/images/makelist/send.png" alt=""/>发消息</a>
                        </div>
                    </div>
                </div>
                <!--追加结束-->
                <div class="ml-list-page">
                    <div class="right">
                        <img src="__PUBLIC__/home/images/library-list/page.jpg" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--********-->
    </div>
    <div class="clearfix"></div>
</div>
<!--底部-->
<div id="footer">
    <div class="wrap">
        <p>
            <a href="#">首页</a>
            <span>丨</span>
            <a href="#">网站声明</a>
            <span>丨</span>
            <a href="#">联系方式</a>
            <span>丨</span>
            <a href="#">加入我们</a>
        </p>
        <p>
            Copyright&nbsp;&copy;&nbsp;2017-&nbsp;桑磊法考(sangleifk.com)&nbsp;京批字第直123456号&nbsp;京ICP备12345678号-1
        </p>
        <p>
            联系电话：&nbsp;&nbsp;&nbsp;4000-000-000&nbsp;&nbsp;&nbsp;&nbsp;010-12345678
        </p>
    </div>
</div>
<script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
<script>
    $(function(){
        function startNum(){
            var s =$("#historylist").find(".startnum");
            for(var i = 0;i<s.length;i++){
                for(var k = 0;k<$(s[i]).attr("data");k++){
                    $(s[i]).append('<img src="images/makelist/yellow-star.png"/>');
                }
            }
        };
//        星星的追加
        startNum();
//        榜单nav的绑定事件
        $("#historylist").find(".ml-list-nav").children("a").bind("click",function(){
            $(this).addClass("active").siblings("a").removeClass("active");
        });
//        榜单抬头的追加
        function addTop(){
            var b = $("#historylist").find(".dbph-big-box").children(".dbph-box");
            var i = 0;
            while(i!=3){
                $(b[i]).append('<img class="top" src="images/makelist/'+(i+1)+'.png"/>')
                i++;
            }
        };
        addTop();
    });
    //        点赞
    function giveZz(t){
        var img = $(t).find("img");
        var s = img.attr("src");
        if($(t).attr("data")=="yes"){
            img.attr("src",s.slice(0,-4)+"ed.png");
            $(t).attr("data","no");
        }else if($(t).attr("data")=="no"){
            alert("您已经点过赞了!");
        }
    };

</script>
</body>
</html>