<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户中心-历史答题</title>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name=”keyword” content=”桑磊法考,司法考试,考试,司法,律师“>
    <!-- 公用的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-public.css"/>
    <!-- 本页面的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-lsdt.css"/>
</head>
<body>
<div class="wrap">
    <!--侧边栏导航-->
    <div id="sidebar-nav">
        <!--头像 用户名-->
       <include file="Public/head" />
        <!--菜单-->
        <include file="Public/menucenter" />
        <!--二维码-->
        <div class="qrcode">
            <img src="__PUBLIC__/home/images/usercenter/qrcode.png" alt=""/>
            <p>扫描二维码登录手机端</p>
        </div>
    </div>
    <!--主导航-->
    <include file="Public/navcenter" />
    <!--基本资料   这个元素里面的东西不一样-->
    <div class="content-box">
        <!--********-->
        <div id="historyanswer">
            <div class="vip"><img src="__PUBLIC__/home/images/usercenter/ordinary.png" alt=""/></div>
            <!--标题-->
            <div class="ha-title prl-20">
                <div class="ha-1">【用户：<span>大法官123</span>历史答卷】</div>
                <div class="ha-2">最好成绩</div>
                <div class="ha-3">操作</div>
            </div>
            <!--列表内容-->
            <div class="ha-list-box">
                <!--****************-->
                <volist name="band" id="vo">
                <div class="ha-list">
                    <div class="ha-list-assess prl-20">
                        <!--综合评星-->
                        <div class="ha-1">
                            <div class="startnum" data="{$vo['star']}">
                                综合评星：
                            </div>
                        </div>
                        <!--点评-->
                        <div class="ha-3">
                            <span>点评：</span>{$vo['assess']}
                        </div>
                    </div>
                    <div class="ha-list-content prl-20">
                        <div class="ha-1">
                            <img src="__PUBLIC__/home/images/library-list/word.png" alt=""/>
                            {$vo['nickname']}
                        </div>
                        <div class="ha-2">{$vo['score']}分</div>
                        <div class="ha-3">
                            <a href="{:U('userhistory/examContent',array('i'=>base64_encode($vo['id']),'s'=>base64_encode($vo['scoreid'])))}" target="_blank">
                                <img src="__PUBLIC__/home/images/usercenter/eye-blue.png" alt=""/>
                                查看试卷
                            </a>
                            <span>丨</span>
                            <a href="{:U('answer/again',array('i'=>base64_encode($vo['id'])))}">
                                <img src="__PUBLIC__/home/images/usercenter/pen-blue.png" alt=""/>
                                再做一遍
                            </a>
                        </div>
                    </div>
                    <div class="ha-list-time">
                        <div class="ha-list-time-text  prl-20">
                            <div class="ha-1">
                                <span>难易程度：
                                    <if condition="$vo['difficulty'] eq 1">
                                       易
                                 <elseif condition="$vo['difficulty'] eq 2"/>
                                       中
                                    <else/>
                                       难
                                    </if>
                                </span>
                                <span>答题人数：{$vo['usenum']}人</span>
                                <span>最快用时：{$vo['usetime']}</span>
                            </div>
                            <div class="ha-3">
                                <a href="javascript:void(0)" onclick="lookClass()">订制课堂</a>
                                <span>丨</span>
                                <a href="javascript:void(0)">分享试卷</a>
                                <span>丨</span>
                                <a class="ph" href="javascript:void(0)">查看排行</a>
                            </div>
                        </div>
                    </div>
                </div>
                </volist>
                <!--*************-->
            </div>
            <!--页码-->
            <div style="width: 100%;margin-top: 20px;">
                <div class="right">
                    　{$page}   
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--********-->
    </div>
    <div class="clearfix"></div>
</div>
<!--订制课堂的弹出框-->
<div id="modelview">
    <div class="m-box">
        <div class="m-title">
            <ul>
                <li class="active" onclick="mNav(this)">订制课堂</li>
                <li onclick="mNav(this)">在线交流</li>
                <li onclick="mNav(this)">欢迎评价</li>
            </ul>
            <img onclick="closeLookClass()" src="__PUBLIC__/home/images/usercenter/close-white.png" alt=""/>
        </div>
        <div class="m-content">
            <div class="m-content-view m-content-dzkt">
                <form action="">
                    <div class="col-1">
                        <span>选择订制：</span>
                        <select name="" id="">
                            <option value="">整张试卷</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <span>添加备注：</span>
                        <textarea name=""></textarea>
                    </div>
                    <div class="col-2">
                        <span>支付方式：</span>
                        <input type="radio" checked="checked" name="style" id="stylezfb"/>
                        <label for="stylezfb"><img src="__PUBLIC__/home/images/usercenter/zfb.png" alt=""/></label>
                        <input type="radio" name="style" id="stylewx"/>
                        <label for="stylewx"><img src="__PUBLIC__/home/images/usercenter/wx.png" alt=""/></label>
                        <input type="radio" name="style" id="stylezj"/>
                        <label for="stylezj"><img src="__PUBLIC__/home/images/usercenter/zjdz.png" alt=""/></label>
                    </div>
                    <button type="submit" class="submit">提交订制申请</button>
                </form>
                <div class="explain">
                    <a href="javascript:void(0)">*</a>提交订制申请后，我们会针对您选择的试卷/题目安排课程时间，请留意 <a href="#">站内消息 </a>。
                    <a href="javascript:void(0)">收费标准：5元/每道题目，50元/整张试卷 。</a>
                </div>
            </div>
            <div class="m-content-view m-content-zxjl">
                <form action="">
                    <div class="col-1">
                        <span>选择问题：</span>
                        <select name="" id="">
                            <option value="">题目69</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <span>附加留言：</span>
                        <textarea name=""></textarea>
                    </div>
                    <button type="submit" class="submit">确认提交问题</button>
                </form>
                <div class="explain">
                    <a href="javascript:void(0)">*</a>提交问题后，我们会安排老师针对您选择的题目进行回答，请留意 <a href="#">站内消息 </a>。
                </div>
            </div>
            <div class="m-content-view m-content-hypj">
                <form action="" id="discussform">
                    <div class="col-1">
                        <span>出题星级：</span>
                        <span id="givestart"></span>
                        <span class="little">（感谢您的评星！）</span>
                    </div>
                    <!--这个input的value是评星的个数-->
                    <input type="hidden" value="" name="" id="havestarnum"/>
                    <!--这个input的value 是用户评论的内容 以text分隔-->
                    <input type="hidden" id="havediscuss"/>
                    <!--数据传过来时的 评价语  放在data里-->
                    <div class="discuss">
                        <button type="button" data="题霸打榜必争题型"></button>
                        <button type="button" data="难易程度还算适中"></button>
                        <button type="button" data="题型刁钻还有难度"></button>
                        <button type="button" data="知识点很全面精细"></button>
                        <button type="button" data="谁来敢挑战我？"></button>
                        <button type="button" data="拿下容易打榜难"></button>
                        <button type="button" data="想要打榜还有难度"></button>
                        <button type="button" data="每年必考的题目"></button>
                        <button type="button" data="这就是个坑"></button>
                    </div>
                    <button type="button" class="submit" onclick="discussSubmit()">提交星级评价</button>
                </form>
                <div class="explain">
                    <a href="javascript:void(0)">*</a>您的评价对我们而言是非常宝贵的，能够帮助我们针对性的完善题型与课程。
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div id="footer">
    <div class="wrap">
        <p>
            <a href="#">首页</a>
            <span>丨</span>
            <a href="#">网站声明</a>
            <span>丨</span>
            <a href="#">联系方式</a>
            <span>丨</span>
            <a href="#">加入我们</a>
        </p>
        <p>
            Copyright&nbsp;&copy;&nbsp;2017-&nbsp;桑磊法考(sangleifk.com)&nbsp;京批字第直123456号&nbsp;京ICP备12345678号-1
        </p>
        <p>
            联系电话：&nbsp;&nbsp;&nbsp;4000-000-000&nbsp;&nbsp;&nbsp;&nbsp;010-12345678
        </p>
    </div>
</div>
<script src="__PUBLIC__/home/js/jquery-1.11.3.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/jquery.raty.js" type="text/javascript"></script>
<!--星星的追加-->
<script>
    $(function(){
        function startNum(){
            var s =$("#historyanswer").find(".startnum");
            for(var i = 0;i<s.length;i++){
                for(var k = 0;k<$(s[i]).attr("data");k++){
                    $(s[i]).append('<img style="margin-top: -2px" src="__PUBLIC__/home/images/makelist/yellow-star.png"/>');
                }
            }
        };
//        星星的追加
        startNum();
    });
</script>
<!--弹出层-->
<script>
//    显示
    function lookClass(){
      $("#modelview").fadeIn(500);
    };
function closeLookClass(){
    $("#modelview").fadeOut(500);
};
//    菜单切换
    function mNav(t){
        $(t).addClass("active").siblings("li").removeClass("active");
        if($(t).index()==0){
            $("#modelview .m-box .m-content .m-content-dzkt").show().siblings(".m-content-view").hide();
        }else if($(t).index()==1){
            $("#modelview .m-box .m-content .m-content-zxjl").show().siblings(".m-content-view").hide();
        }else if($(t).index()==2){
            $("#modelview .m-box .m-content .m-content-hypj").show().siblings(".m-content-view").hide();
        }
    }
</script>
<!--评星-->
<script>
//    评星
    $('#givestart').raty({
        path:"images/img",
        click: function (score, evt){
            $("#havestarnum").val(score);
        }
    });
//    评论
    function discuss(){
        var box = $("#modelview .m-box .m-content .m-content-hypj").find(".discuss");
        var btn = box.find("button");
        for(var i = 0;i<btn.length;i++){
            $(btn[i]).html($(btn[i]).attr("data"));
        }
        $(box).on("click","button",function(){
            if($(this).attr("yn")=="no"){
                $(this).removeClass("active");
            }else{
                $(this).addClass("active");
                $(this).attr("yn","no");
            }
        })
    };
    discuss();
    //提交
    function discussSubmit(){
        var btn = $("#modelview .m-box .m-content .m-content-hypj").find(".discuss").find("button");
        var str = "";
        for(var i = 0;i<btn.length;i++){
            if($(btn[i]).hasClass("active")){
                str += "text" + $(btn[i]).attr("data");
            }
        }
        $("#havediscuss").val(str);
        $("#discussform").submit();
    };
</script>
</body>
</html>