<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户中心-课堂订制</title>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name=”keyword” content=”桑磊法考,司法考试,考试,司法,律师“>
    <!-- 公用的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-public.css"/>
    <!-- 本页面的css -->
    <link rel="stylesheet" href="__PUBLIC__/home/css/user-center-fxkt.css"/>
</head>
<body>
<div class="wrap">
    <!--侧边栏导航-->
    <div id="sidebar-nav">
        <!--头像 用户名-->
        <div class="top">
            <img src="__PUBLIC__/home/images/usercenter/logo.png" class="logo" alt=""/>
            <div class="avatar">
                <img src="__PUBLIC__/home/images/usercenter/tx.png" alt=""/>
            </div>
            <div class="name">大法官123</div>
            <div class="account">账户：[普通账户]</div>
        </div>
        <!--菜单-->
        <include file="Public/menucenter" />
        <!--二维码-->
        <div class="qrcode">
            <img src="__PUBLIC__/home/images/usercenter/qrcode.png" alt=""/>
            <p>扫描二维码登录手机端</p>
        </div>
    </div>
    <!--主导航-->
    <include file="Public/navcenter" />
    <!--基本资料   这个元素里面的东西不一样-->
    <div class="content-box">
        <!--********-->
        <div id="shareclass">
            <div class="vip"><img src="__PUBLIC__/home/images/usercenter/ordinary.png" alt=""/></div>
            <!--分享课堂的菜单-->
            <div class="sc-nav">
                <div class="sc-nav-list">
                   
                    <a href="{:U('classroom/customizationa',array('typeid'=>1))}" style=" text-decoration:none;out-line: none;color: #000;"><div class="img"></div>已订制的课堂<span>（369）</span></a>
                </div>
                <div class="sc-nav-list">
                    
                    <a href="{:U('classroom/customizationb',array('typeid'=>6))}" style=" text-decoration:none;out-line: none;color: #000;"><div class="img"></div>  私人订制的课堂 <span>（369）</span></a>
                </div>
                <div class="sc-nav-list active">
                    <div class="img"></div>
                  <div class="text">  众筹订制的课堂 <span>（369）</span></div>
                </div>
            </div>
            <div id="sc-box">
                <!--已订制的课堂-->
                <div style="" class="show sc-buyedclass">
                    <!--用户名  章节分类-->
                    <div class="sc-title">
                        <div class="left">亲爱的 <span class="active">大法官123</span>，您订制的视频如下：</div>
                        <div class="right">
                            <a href="{:U('customizationc',array('typeid'=>11))}" <if condition='I("typeid") eq "11"'> class="active" </if>>全部</a>
                            <span>丨</span>
                            <a href="{:U('customizationc',array('typeid'=>12))}"<if condition='I("typeid") eq "12"'> class="active" </if>>按章</a>
                            <span>丨</span>
                            <a href="{:U('customizationc',array('typeid'=>13))}"<if condition='I("typeid") eq "13"'> class="active" </if>>按节</a>
                            <span>丨</span>
                            <a href="{:U('customizationc',array('typeid'=>14))}"<if condition='I("typeid") eq "14"'> class="active" </if>>按知识点</a>
                            <span>丨</span>
                            <a href="{:U('customizationc',array('typeid'=>15))}" <if condition='I("typeid") eq "15"'> class="active" </if>>微课堂</a>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="sc-content">
                        <ul>
                             <volist name='customcom' id='val'>
                            <li>
                                <img src="__PUBLIC__/home/images/usercenter/fxkt/{$val['shi']}.png" alt=""/>
                                <p class="name">
                            <if condition='$val["name"] neq ""'>
                                {$val['name']}
                                <else/>
                                {$val['did']}
                            </if></p>
                                <div class="time">
                                    <div class="left">参与人数：<span class="active">{$val['handnum']}</span>/5&nbsp;&nbsp;等待中...</div>
                                    <div class="right">[{$val['course']}]</div>
                                </div>
                                <div class="dzkt">
                                    <a href="#">邀请他人订制</a>
                                    <a href="#">继续参与</a>
                                </div>
                                <!--<a href="#">邀请他人订制</a>-->
                            </li>
                             </volist>
                       
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <!--页码-->
                    <div class="sc-page">
                        {$page}
                    </div>
                </div>
                <!--私人订制课堂-->
                <div style="display: none" class="show sc-myclass">
                    <!--用户名  章节分类-->
                    <div class="sc-title">
                        <div class="left">亲爱的 <span class="active">大法官123</span>，您预约订制的视频如下：</div>
                        <div class="right">
                            <a href="{:U('customization',array('typeid'=>6))}"<if condition='I("typeid") eq "6"'> class="active" </if>>全部</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>7))}"<if condition='I("typeid") eq "7"'> class="active" </if>>按章</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>8))}"<if condition='I("typeid") eq "8"'> class="active" </if>>按节</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>9))}" <if condition='I("typeid") eq "9"'> class="active" </if>>按知识点</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>10))}"<if condition='I("typeid") eq "10"'> class="active" </if>>微课堂</a>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="sc-content">
                        <ul>
                             <volist name='custompri' id='valu'>
                            <li>
                                <img src="__PUBLIC__/home/images/usercenter/fxkt/zsd.png" alt=""/>
                                <p class="name">
                            <if condition='$valu["name"] neq ""'>
                                {$value['name']}
                                <else/>
                                {$value['did']}
                            </if></p>
                                <div class="time">
                                    <div class="left">预约时间：2017/10/22</div>
                                    <div class="right">[国际经济法]</div>
                                </div>
                                <div>
                                    <a href="#">状态：等待安排课程</a>
                                </div>
                            </li>
                             </volist>
                           
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <!--页码-->
                    <div class="sc-page">
                        <img src="__PUBLIC__/home/images/library-list/page.jpg" alt=""/>
                    </div>
                </div>
                <!--众筹订制的课堂-->
                <div style="display: none" class="show sc-zdclass">
                    <!--用户名  章节分类-->
                    <div class="sc-title">
                        <div class="left">亲爱的 <span class="active">大法官123</span>，您参与众筹订制的课堂如下：</div>
                        <div class="right">
                            <a href="{:U('customization',array('typeid'=>111))}"<if condition='I("typeid") eq "11"'> class="active" </if>>全部</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>112))}"<if condition='I("typeid") eq "12"'> class="active" </if>>按章</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>113))}"<if condition='I("typeid") eq "13"'> class="active" </if>>按节</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>114))}" <if condition='I("typeid") eq "14"'> class="active" </if>>按知识点</a>
                            <span>丨</span>
                            <a href="{:U('customization',array('typeid'=>115))}"<if condition='I("typeid") eq "15"'> class="active" </if>>微课堂</a>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="sc-content">
                        <ul>
                             <volist name='customcom' id='value'>
                            <li>
                                <img src="__PUBLIC__/home/images/usercenter/fxkt/zsd.png" alt=""/>
                                <p class="name">
                            <if condition='$value["name"] neq ""'>
                                {$value['name']}
                                <else/>
                                {$value['did']}
                            </if></p>
                                <div class="time">
                                    <div class="left">参与人数：<span class="active">3</span>/5&nbsp;&nbsp;等待中...</div>
                                    <div class="right">[国际经济法]</div>
                                </div>
                                <div class="dzkt">
                                    <a href="#">邀请他人订制</a>
                                    <a href="#">继续参与</a>
                                </div>
                                <!--<a href="#">邀请他人订制</a>-->
                            </li>
                             </volist>
                       
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <!--页码-->
                    <div class="sc-page">
                        <img src="__PUBLIC__/home/images/library-list/page.jpg" alt=""/>
                    </div>
                </div>
            </div>
            <!--注释-->
            <div class="sc-note">
                * 注：订制后的课堂可在 <a href="#">分享课堂资源站</a> 默认用于公开分享，分享课堂可帮助您带来分享收益，按半价收取每堂课。已购买的分享课堂不可继续交易。
            </div>
        </div>
        <!--********-->
    </div>
    <div class="clearfix"></div>
</div>
<!--底部-->
<div id="footer">
    <div class="wrap">
        <p>
            <a href="#">首页</a>
            <span>丨</span>
            <a href="#">网站声明</a>
            <span>丨</span>
            <a href="#">联系方式</a>
            <span>丨</span>
            <a href="#">加入我们</a>
        </p>
        <p>
            Copyright&nbsp;&copy;&nbsp;2017-&nbsp;桑磊法考(sangleifk.com)&nbsp;京批字第直123456号&nbsp;京ICP备12345678号-1
        </p>
        <p>
            联系电话：&nbsp;&nbsp;&nbsp;4000-000-000&nbsp;&nbsp;&nbsp;&nbsp;010-12345678
        </p>
    </div>
</div>
<script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
<script>
//    购买课堂菜单显示
    function scNav(t){
        var i = $(t).index();
        $("#sc-box .show:eq("+i+")").show().siblings(".show").hide();
        $(t).addClass("active").siblings(".sc-nav-list").removeClass("active");
    }
</script>
</body>
</html>